// .confirm-location-margin {
//         padding: 0px 20px;
//         padding-top: 30px;
//         padding-bottom: 60px;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         height: calc(var(--doc-height) - 80px);
// }


// .map-container {
//         width: 100%;
//         height: 500px;
//         position: relative;
// }
// #map {
//         height: 480px;
//         width: 100%;
// }

// #search-location {
//         border-radius: 30px;
//         padding: 15px;
//         width: 80%;
//         outline: none;
//         border: none;
//         left: 50% !important;
//         top: 0 !important;
//         transform: translate(-50%, 10px);
//         box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.16);
//         font-weight: 500;
//         font-size: 12px;
// }

// #map-center-marker {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         z-index: 1000;
// }

// .pac-container {
//         z-index: 1200 !important;
// }

// .custom-map-control-button {
//         border-radius: 30px;
//         padding: 10px;
//         width: 60%;
//         outline: none;
//         border: none;
//         left: 50% !important;
//         bottom: 0 !important;
//         transform: translate(-50%, -20px);
//         background-color: white;
//         color: #000093;
//         font-weight: 600;
//         font-size: 14px;
//         box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.16);
// }

// #map-center-tooltip {
//         position: absolute;
//         top: 55%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         z-index: 1000;

//         .tooltip-container {
//                 position: absolute;
//                 width: 180px;
//                 height: 45px;
//                 border-radius: 10px;
//                 padding: 10px;
//                 background-color: #141414;
//                 top: -115px;
//                 left: -85px;
//                 white-space: nowrap;
//                 overflow: hidden;
//                 text-overflow: ellipsis;
//                 color: white;
                
//         }

//         .divider {
//                 position: absolute;
//                 width: 1px;
//                 height: 50px;
//                 background-color: #141414;
//                 top: -70px;
//         }
// }



// #description {
//         font-family: Roboto;
//         font-size: 15px;
//         font-weight: 300;
// }

// #infowindow-content .title {
//         font-weight: bold;
// }

// #infowindow-content {
//         display: none;
// }

// #map #infowindow-content {
//         display: inline;
// }

// .pac-card {
//         background-color: #fff;
//         border: 0;
//         border-radius: 2px;
//         box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
//         margin: 10px;
//         padding: 0 0.5em;
//         font: 400 18px Roboto, Arial, sans-serif;
//         overflow: hidden;
//         font-family: Roboto;
//         padding: 0;
// }

// #pac-container {
//         padding-bottom: 12px;
//         margin-right: 12px;
// }

// .pac-controls {
//         display: inline-block;
//         padding: 5px 11px;
// }

// .pac-controls label {
//         font-family: Roboto;
//         font-size: 13px;
//         font-weight: 300;
// }

// #pac-input {
//         background-color: #fff;
//         font-family: Roboto;
//         font-size: 15px;
//         font-weight: 300;
//         margin-left: 12px;
//         padding: 0 11px 0 13px;
//         text-overflow: ellipsis;
//         width: 400px;

// }

// #pac-input:focus {
//         border-color: #4d90fe;
// }

// .address-name{
//    font-size: 14px;
//    font-weight: 600;
//    color: rgba(0, 0, 0, 0.65);
// }

// .formatted-address{
//   font-size: 14px;
//   font-weight: 400;
//   color: rgba(0, 0, 0, 0.65);
// }