.terms {
    margin-top: 70px;
}
.termsTitle {
    font-size: 22px;
    font-weight: bold;
}
.agreeTitle {
    font-size: 18px;
    font-weight: bold;
}
.section-title {
    padding: 12px 20px;
    font-size: 16px;
    margin: 20px 0;
    background-color: #f8f8f8;
}
.subTermText{
    font-size: 16px;
}
.section-content{
    display: flex;
    span{
        font-size: 13px;
    }
}
.section-content p {
    margin-left: 10px;
    font-size: 14px;
}
.subCont {
    display: flex;
    flex-direction: column;
    margin: 0px;
    span {
        font-size: 13px;
    }
    .section-content{
        flex: 1;
        margin-left: 30px;
        &:first-child{
            margin-left: 0px; 
        }
    }
}

.fDc {
    flex-direction: column;
}