.wrapper {
  gap: 24x;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// @import "./mixin.scss";

.pages-container {
  max-width: 900px;
  margin: auto;
  // @include for-desktop-up {
  //   position: absolute;
  //   width: 360px;
  //   top: 90px;
  //   right: 100px;
  //   overflow: scroll;
  //   background: white;
  //   z-index: 1200;
  //   border-radius: 20px;
  // }
}

.login-card {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;

  padding: 24px;
  // margin: 24px;
  // width: 100%;

  background: #ffffff;
  /* Shadow/S */

  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  gap: 20px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: calc(100% - 58px);
  max-width: 400px;
  // border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
