.homepage-desktop-container{
   width: 100%;
   overflow-x: hidden;
}
body{
  margin: 0;
  background: #fff;
}
#nav{
  background: #3535F3;
  color: white;
  font-weight: bold;
}
.navbar{
  height: 72px;
 top: 10%;
 bottom: 20px;
}
.banner{
  background: url('./../../../assets/images/onboarding/homepage-desktop-images/main.png');
}
#logo{
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
#vector{
position: absolute;
left: 1000px;
top: 40%;
height: 15px;
width: 15px;
}
#main::before{
  content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  background-color: black;
  opacity: 0.5;
  height: 512px;
  width: 100%;
}
#main{
 bottom: 0px;
height: 512px;
background-size: cover;
position: relative;

}
#main p{
  color: #fff;
  font-size: 24px;
  z-index: 2;
  font-weight: 100;
}
.heading{
    font-family: "JioType";
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 126px;
}
.partner{
display: flex;
justify-content: space-between;
}
.box{
  padding: 24px;
width: 333px;
height: 160px;
background: #FFFFFF;
box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
border-radius: 24px;
margin-bottom: 20px;
}
.subHeading{
font-family: 'JioType';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 32px;
margin: 20px 0px;
}
.boxlogo{
  margin-left: 120px;
padding: 8px;
width: 48px;
height: 48px;
background: #E8E8FC;
border-radius: 200px;
}
.caption{
  width: 285px;
height: 48px;
font-family: 'JioType';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
margin-top: 15px;
}
.data{
  display: flex;
  justify-content: space-around;
padding: 48px 0px;
gap: 16px;
height: 360px;
background: #E7EBF8;
border-radius: 24px;
margin-left: 126px;
}
.datapoints{
  width: 202px;
  height: 170px;
}
.title{
  font-weight: 900;
font-size: 32px;
line-height: 32px;
text-align: center;
}
.line{
  font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
color: rgba(0, 0, 0, 0.65);

}

.faqTitle{
font-family: 'JioType';
font-style: normal;
font-weight: 900;
font-size: 32px;
}
.video{
margin-bottom: 20px;
}
.experiences{
  background: #E7EBF8;
  width: 100%;
  padding: 20px 0px;
}
.card{
  border-radius: 24px;
  padding: 15px;
}
.card p{
  margin-top: 15px;
font-weight: 500;
font-size: 24px;

color: rgba(0, 0, 0, 0.65);
}
.card h6{
font-weight: 500;
font-size: 18px;
color: rgba(0, 0, 0, 0.65);
}
.footer{
display: flex;
align-items: center;
height: 73px;
background: #F5F5F5;
font-weight: 500;
font-size: 12px;
color: rgba(0, 0, 0, 0.65);
}
.footer p{ 
  margin: 0px;
}
.footerDeskLink {
   display: flex;
    align-items:center; 
   list-style:none;
   padding: 0;
   margin: 0;
}
.footerDeskLink li{
  margin-left: 15px;
}