.footer-container{
  bottom: 20px;
  text-align: center;
  .skip{
    padding: 30px 5px 15px 5px;
    a{
       padding: "0 5px";
    }
  }
  .terms{
    margin-top: 12px;
    text-align: left;
  }
  word-break: break-all;
}