    .fetching-margin{
       padding: 0px 20px;
       padding-top: 30px;
       height: calc(100vh - 80px);
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       text-align: center;
       margin-top: 100px;
       .subtitle{
        margin-top: 15px;
        margin-bottom: 50px;
       }
    }