@import './../mixin.scss';

.layout-container {
  @include for-desktop-up {
    padding-bottom: 20px;
  }
  .content-margin {
    padding: 0px 20px;
    padding-top: 30px;
    height: calc(var(--doc-height) - 80px);
    background: #ffffff;
    @include for-desktop-up {
      height: auto;
      min-height: 500px;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .subtitle {
      margin-top: 15px;
      margin-bottom: 10px;
    }
    .input-container {
      margin: 25px 0;
    }
  }
}
