.homepage-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    .icon{
      height: 32px;
      width: 32px;
      border-radius: 100%;
      background-color: #E8E8FC;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .right{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}