.otp-card {
  display: flex;
  flex-direction: column;
  padding: 24px;

  background: #ffffff;
  /* Shadow/S */

  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  gap: 20px;
  width: calc(100% - 58px);
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  .content-margin {
    height: auto !important;
    min-height: 500px !important;
  }
}
