.wrapper-detail {
    body {
        margin-right: 40px;
    }

    .page {
        width: 1200px;
        height: auto;
        margin: auto;
    }

    .heading-card {
        margin-top: 25px;
        height: 20px;
    }

    .details {
        height: auto;
        margin: 12px 24px;
    }

    #add {
        margin-top: 8px;
        width: 89px;
        height: 24px;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #000093;
    }

    .address {
        padding: 12px;
        gap: 10px;
        margin-top: 25px;
        max-width: 100%;
        background: #ffffff;
        border-radius: 16px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    }

    .bank {
        padding: 16px 24px;
        height: auto;
        margin-top: 25px;
        max-width: 100%;
        background: #ffffff;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
        border-radius: 16px;
    }

    #edit {
        justify-content: center;
        align-items: center;
        padding: 4px 16px;
        gap: 8px;
        width: 32px;
        height: 32px;
        background: #ffffff;
        border-radius: 1000px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    }

    .bankdetails {
        max-width: 100%;
        margin-top: 17px;
    }

    .photos {
        margin-top: 25px;
        height: 100px;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .review-footer {
        margin-top: 25px;
        height: 65px;
        width: 100%;
        padding: 25px;
        display: flex;
        background: #FFFFFF;
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}