.address-form-margin{
    padding: 0px 20px;
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .address-loader-container{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .address-form-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            background: #FFFFFF;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
            border-radius: 16px;
            .header {
                // display: flex;
                // justify-content: space-between;
                width: 100%;
                padding-bottom: 20px;
                cursor: pointer;
                .left{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
            .partition{
                width: 100%;
                margin: 0;
            }
            .save-address-footer{
                display: flex;
                gap: 20px;
                align-items: center;
                align-self: flex-end;
                margin-top: 10px;
            }
        }
}
