.layout-container {
  .content-margin {
    padding: 0px 20px;
    padding-top: 40px;
    background: #ffffff;
  }
  .otp-form {
    display: flex;
    flex-direction: column;
    .timer {
      text-align: right;
      .resend{
       cursor: pointer;
      }
      .time{
        color:#dc3545;
      }
    }
  }
}
