    .success-margin{
       padding: 0px 20px;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       text-align: center;
       padding-top: 60px;
       height: calc(100vh - 120px);
       justify-content: space-between;
       background-color: white;
       .subtitle{
        margin-top: 15px;
        margin-bottom: 50px;
       }
       .info{
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         padding: 8px;
         background: #FEF0E7;
         border-radius: 8px;
         .infoText {
            max-width: 80%;
            margin: auto;
            font-weight: 500;
            color: #F06D0F;
            font-size: 18px;
            line-height: 24px;
         }
       }
    }