@import "./../mixin.scss";

.content-margin {
  padding: 0px 20px;
  padding-top: 30px;
  height: calc(100vh - 80px);
  background: #ffffff;
  @include for-desktop-up {
    height: auto;
    min-height: 500px;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .subtitle {
    margin-top: 15px;
    margin-bottom: 40px;
  }
  .row-step {
    margin: 16px 0px;
    & .required-asterisk {
      color: #ff0000;
      margin-left: 2px;
    }
  }
  & .required-asterisk {
    color: #ff0000;
    margin-left: 2px;
  }
}

.stepper-layout {
  margin-bottom: 60px;
  > .j-horizontal-stepper-content {
    justify-content: start;
    > .content-item {
      width: 100%;
    }
  }
}
.footer-form {
  display: flex;
  gap: 24px;

  position: fixed;
  @include for-desktop-up {
    position: absolute;
  }
  width: 100%;
  bottom: 0px;
  left: 0;
  background-color: white;
  .content {
    max-width: 900px;
    width: 100%;
    display: flex;
    margin: auto;
    gap: 8px;
  }
  padding: 12px 24px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  .prev-btn {
    width: 70px !important;
    height: 48px !important;
  }
  .next-btn {
    width: 100%;
  }
}

/// secomd stepper

.stepper-custom {
  .MuiStepLabel-label {
    height: 40px;

    /* en/Desktop/Heading/XXS */

    font-family: "JioType";
    font-style: normal;
    font-weight: 900 !important;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */

    text-align: center;
    letter-spacing: -0.03em;

    /* Light/Sparkle/Grey-80 */

    color: rgba(0, 0, 0, 0.65);

    > .Mui-active {
      color: #141414 !important;
    }
  }
}
.MuiStepLabel-label .Mui-completed {
  color: rgba(0, 0, 0, 0.65) !important;
}

.onboarding-completed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: ABSOLUTE;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.address-detail {
  display: flex;
  flex-direction: column;
  position: relative;
  h6 {
    font-weight: 700;
  }
  .address-container {
    margin-top: 12px;
    position: relative;
    outline: none;
    overflow: hidden;
    padding: 18px;
    border-radius: 16px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .left {
      .title-address {
        font-size: 14px;
        font-weight: 700;
        // text-transform: none;
        font-size: 1rem;
        letter-spacing: -0.48px;
        line-height: 1.25;
      }
      .content-address {
        font-size: 12px;
      }
    }
    .right {
      .edit-icon-container {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .edit-icon {
          width: 15px;
        }
      }
    }
  }
}

.add-btn {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 10px;
  color: #000093;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.browse-btn {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 10px;
  color: #000093;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
  max-height: 40px;
  margin-bottom: 18px;
}

.store-photos {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  .photo-container {
    position: relative;
    width: 115px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    .cross {
      position: absolute;
      top: -0px;
      right: -0px;
      cursor: pointer;
    }
    .photo {
      width: 100px;
      height: 100px;
      border-radius: 15px;
      object-fit: cover;
    }
  }
}

.store-photos::-webkit-scrollbar {
  display: none;
}
