@import "./../mixin.scss";

.header-wrapper{
    height:  64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3535F3;
    padding: 0 32px;
    .content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    .logo {
            height: 32px;
            cursor: pointer;
        }
        .headphone {
            height: 20px;
        }
    }
}