@import "./mixin.scss";
.home-page-container{
  display: none;
    @include for-desktop-up {
        display: block;
    }
}
.pages-container{
    max-width: 900px;
    margin: auto;
    .loader-container{
        // width: 100vw;
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include for-desktop-up {
        position: absolute;
        width: 360px;
        top: 90px;
        right: 100px;
        overflow: scroll;
        background: white;
        z-index: 1200;
        border-radius: 20px;
    }
}