
body {
  margin: 0;
  font-family: 'JioType' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: white;
/* min-height: 100vh; */

}

html, body, #root, #app>div{
  height: 100%
}