.layout-block {
  .verify-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    text-align: center;
    margin-bottom: 90px;
    .upload-layout {
      margin: 12px 0px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 24px;
      gap: 24px;

      /* Light/Global/White */

      background: #ffffff;
      /* Shadow/S */

      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
      border-radius: 24px;
      .upload-preview {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px;
        gap: 16px;
        max-height: 56px;
        background: #ffffff;
        /* Light/Primary/Grey-40 */

        border: 1px solid #e0e0e0;
        border-radius: 16px;
        color: #000093 !important;
        font-size: 14px;
        width: 100%;
        justify-content: space-between;

        img {
          padding-top: 8px;
        }
      }
    }
  }
}
